<div class="top-row ps-3 navbar navbar-dark" style="background-color: #031549;">
    <div class="container-fluid">
        <a class="navbar-brand font-monospace fw-bold text-white small" href="">Assignment No.04</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column nav-pills mt-2 px-2">
        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill me-2"></span> Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="greeting-binder">
                <span class="bi bi-code-square me-2"></span> Application 1
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="registration-form">
                <span class="bi bi-code-square me-2"></span> Application 2
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="todo-app">
                <span class="bi bi-code-square me-2"></span> Application 3
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="counter-matrix">
                <span class="bi bi-code-square me-2"></span> Application 4
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="auth-login">
                <span class="bi bi-shield-lock me-2"></span> Application 5
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="notify-display-panel">
                <span class="bi bi-gear me-2"></span> Application 6
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="persistent-theme">
                <span class="bi bi-palette me-2"></span> Application 7
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link text-white-50" href="database-todo">
                <span class="bi bi-database me-2"></span> Application 8
            </NavLink>
        </div>
    </nav>
</div>